.gallery {
    height: 175vh;
    overflow: hidden;
    background: rgb(45, 45, 45);
}

.galleryWrapper {
    position: relative;
    top: -12.5vh;
    height: 200vh;
    display: flex;
    gap: 2vw;
    padding: 2vw;
}

.galleryWrapper .column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    white-space: nowrap;
}

.galleryWrapper .column .imageContainer {
    position: absolute;
    height: 33%;
    width: 100%;
    border-radius: 1vw;
    overflow: hidden;
}

.galleryWrapper .column .imageContainer img {
    object-fit: cover;
}

.galleryWrapper .column:nth-of-type(1) {
    top: -30%;
}

.galleryWrapper .column:nth-of-type(2) {
    top: -70%;
}

.galleryWrapper .column:nth-of-type(3) {
    top: -30%;
}

.galleryWrapper .column:nth-of-type(4) {
    top: -60%;
}

.spacer {
    height: 100vh;
}
